footer{
  @media screen and (min-width: $desktop) {
    margin-top: 21rem;
  }

  .footer-content{
    @media screen and (min-width: $desktop){
      display: flex;
      justify-content: space-evenly;
      .news-wrapper{
        order: 3;
        padding-left: 5rem;
        margin-left: 3rem;
      }
    }
  }
  &::before{
    content: "";
    width: 100%;
    height: 100px;
    background: url('../images/bg-footer-top-mobile.svg') repeat-x;
    background-size: cover;
    top: -39px;
    position: relative;
    display: inline-block;

    @media screen and (min-width: $desktop){
      content: "";
      width: 100%;
      height: 155px;
      background: url('../images/bg-footer-top-desktop.svg') no-repeat;
      background-size: cover;
      top: -155px;
      position: relative;
      display: inline-block;
    }
  }
  .footer-wrapper {
    margin-top: -83px;

  }
  .news-wrapper{
    margin: 3rem auto;
    @media screen and (min-width: $desktop) {
      width: clamp(20rem, 28rem, 35rem);
      padding-left: 0!important;
      margin-left: 0!important;
      margin: 0;
      margin-top: 5rem;
      margin-bottom: 5rem;

    }
    .subscribe-form{
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $desktop){
        flex-direction: row;
      }
      align-items: center;
      .input-text{
        width: 100%;
        border-radius: 10px;
        height: 2.8rem;
        margin: 2rem auto;
      }
      .input-subscribe{
        background-color: $primaryPink;
        border-radius: 10px;
        color:$white;
        font-weight: bold;
        padding: 1rem 3rem;
        float: right;
        @media screen and (min-width: $desktop){
          margin-left: 1rem;
          font-size: 0.9rem;
        }
        &:hover{
          background-color: $white;
          color: $primaryLightPink;
          cursor: pointer;
        }
      }
    }

  }

  .contact-item{
    display: flex;
    img{
      width: 10%;
      height: 2%;
      margin-right: 2rem;
    }
  }

  .contact-info{
    margin-top: 5rem;
    margin-bottom: 5rem;
    & > p{
      margin-bottom: 3rem;
    }
    @media screen and (min-width: $desktop){
      width: clamp(15rem, 24rem, 30rem);
    }
  }

  .attribution{
    color: white;
    text-align: center;
    padding-bottom: 3rem;
    margin-bottom: 0;
    & > a{
      color: white;
    }
  }
}
